/*GAME BOARD PAGE-------------------------------------------------------------------------------------------*/
.game-wrapper {
  background-color: #d8d7d7;
}

.sidebar {
  display: inline-block;
  margin-left: 1em;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 25%;
  color: #000000;
  background-color: #f4f7f6;
  padding: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.info-box {
  width: 100%;
  color: #000000;
}
.game {
  margin: 1em;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.blue-btn__game {
  background-color: #234b52;
  color: #ffffff;
  border: 1px solid #234b52;
  font-size: 1.25rem;
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out 0s;
}
.blue-btn__game:hover {
  background-color: transparent;
  color: #234b52;
}
.blue-btn__game:focus {
  outline: none;
}
.sidebar-box {
  display: inline-block;
  width: 35%;
  margin: 2em;
  margin-top: 1em;
}
.player-game__img {
  float: left;

  width: 35%;
}
.playerId {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.player1Score {
  font-weight: bolder;
}
.player2Score {
  font-weight: bolder;
}

.currentPlayer1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  display: none;
  font-weight: bolder;
  color: #234b52;
}
.currentPlayer2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  display: none;
  font-weight: bolder;
  color: #a94442;
}

.placeholder {
  border: 1px solid transparent;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #000000;
}
.placeholderText {
  margin: 0;
}
.container-boardgame {
  float: right;
  width: 70%;
  margin-top: -45%;
  margin-right: 2em;
}
.board-game {
  width: 100%;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  transition: 0.3s ease-in-out 0s;
}
.game-card {
  margin: 0.5em;
  width: 150px;
  height: 150px;
  color: white;
  text-align: center;
  padding: 0;
}
.card-row {
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
}
.card-row2 {
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  justify-content: flex-start;
}
.card-row3 {
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -44%;
  margin-left: 1%;
}
.card-row4 {
  width: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: -33%;
  margin-left: 45%;
}
.card-column {
  display: flex;
  margin-left: 89%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-end !important;
}
.card-column2 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  align-items: flex-start;
  margin-top: -44%;
  height: 50%;
  margin-left: 1%;
}
.card-column3 {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  margin-top: -33%;
  margin-left: 34%;
}
.card-img-chosen {
  cursor: default;
  border-radius: 50%;
  width: 60%;
  margin-top: 5%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.trapBox {
  display: none;
  text-transform: initial;
  cursor: default;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000a1;
}
.board-img {
  width: 70%;
  border-radius: 50%;
  margin-top: -60%;
  margin-right: 5%;
  transition: 0.3s ease-in-out;
}
.board-icon {
  width: 100%;
  margin-top: 15%;
  margin-right: 5%;
  transition: 0.3s ease-in-out;
}
.number {
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 40%;
}
.icon {
  width: 30%;
}
.icon-char {
  width: 20%;
  border-radius: 50%;
}
.gameOverBox {
  display: none;
  cursor: default;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000a1;
}
.hidden {
  background-color: #f4f7f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  color: #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  width: 50%;
  padding: 0.5em 2em 1em 2em;
  text-align: center;
}
.spin-col {
  width: 100%;
}
