@media only screen and (max-width: 375px) {
  .logo-header {
    width: 20%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .CTA {
    font-size: 1rem;
  }
  .player-col {
    width: 100%;
  }
  .important-btn {
    padding: 0.5em;
  }
  .char-container {
    margin-top: 60%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .horizontal_logo {
    width: 100%;
    margin-top: 10%;
  }
  .col {
    width: 90%;
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col-img {
    display: none;
  }
  .btn-group button {
    margin-bottom: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
    margin-top: 20%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .card {
    width: 100%;
    margin-top: 15%;
  }
  .guideBox {
    margin-bottom: 10%;
  }
  .char-heading {
    margin-bottom: 8%;
  }
  .card-info {
    width: 100%;
  }
  .info-col {
    width: 100%;
    margin-bottom: 10%;
  }
  .hidden-content {
    font-size: 0.5em;
    margin-top: 10%;
  }
  footer {
    margin-top: 5%;
  }
  .copyright {
    font-size: 0.8rem;
  }
  .logo-footer {
    width: 80%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 480px) {
  .logo-header {
    width: 20%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1rem;
  }
  .CTA {
    font-size: 1rem;
  }
  .player-col {
    width: 90%;
    margin-left: 5%;
  }
  .info-col {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10%;
  }
  .important-btn {
    padding: 0.5em;
  }
  .char-container {
    margin-top: 60%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .horizontal_logo {
    width: 100%;
    margin-top: 10%;
  }
  .col {
    width: 90%;
    margin-top: 35%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col-img {
    display: none;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
    margin-top: 20%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .card {
    width: 100%;
    margin-top: 15%;
  }
  .guideBox {
    margin-bottom: 10%;
  }
  .char-heading {
    margin-bottom: 10%;
  }
  .num {
    margin-left: 45%;
    width: 10%;
  }
  .card-info {
    width: 100%;
  }
  .hidden-content {
    font-size: 0.5em;
    margin-top: 10%;
  }
  footer {
    margin-top: 5%;
  }
  .logo-footer {
    width: 70%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 595px) {
  .logo-header {
    width: 15%;
  }
  .player-col {
    width: 90%;
  }
  .info-col {
    width: 90%;
    margin-bottom: 10%;
  }
  .important-btn {
    padding: 0.5em;
  }
  .char-container {
    margin-top: 50%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .horizontal_logo {
    width: 100%;
    margin-top: 10%;
  }
  .card {
    width: 100%;
    margin-top: 15%;
  }
  .card-info {
    width: 100%;
  }
  .guideBox {
    margin-bottom: 10%;
  }
  .char-heading {
    margin-bottom: 10%;
  }
  .num {
    margin-left: 45%;
    width: 10%;
  }
  .hidden-content {
    font-size: 0.8em;
    margin-top: 30%;
  }
  .col {
    width: 90%;
    margin-top: 30%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .col-img {
    display: none;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
    margin-top: 10%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .hidden-content {
    font-size: 0.5em;
    margin-top: 10%;
  }
  footer {
    margin-top: 5%;
  }
  .logo-footer {
    width: 50%;
  }
  .copyright {
    font-size: 1em;
  }
}
@media only screen and (min-width: 595px) and (max-width: 690px) {
  .logo-header {
    width: 15%;
  }
  .player-col {
    width: 30%;
    margin: auto;
  }
  .info-col {
    width: 40%;
    margin: auto;
  }
  .important-btn {
    padding: 0.5em;
  }
  .char-container {
    margin-top: 40%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .horizontal_logo {
    width: 90%;
    margin-top: 10%;
  }
  .col-img {
    display: none;
  }
  .col {
    margin-top: 30%;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10%;
  }
  .card {
    width: 100%;
    margin-top: 15%;
  }
  .guideBox {
    margin-bottom: 10%;
  }
  .char-heading {
    margin-bottom: 10%;
  }
  .num {
    margin-left: 45%;
    width: 10%;
  }
  .card-info {
    width: 100%;
  }
  .hidden-content {
    font-size: 0.8em;
    margin-top: 35%;
  }
  .hidden-content {
    font-size: 0.5em;
    margin-top: 10%;
  }
  footer {
    margin-top: 5%;
  }
  .logo-footer {
    width: 50%;
  }
}
@media only screen and (min-width: 690px) and (max-width: 800px) {
  .logo-header {
    width: 15%;
  }
  .player-col {
    width: 30%;
    margin: auto;
  }
  .info-col {
    width: 40%;
    margin: auto;
  }
  .important-btn {
    padding: 0.5em;
  }
  .char-container {
    margin-top: 35%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .horizontal_logo {
    width: 80%;
    margin-top: 5%;
  }
  .col-img {
    display: none;
  }
  .col {
    margin-top: 30%;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10%;
  }
  .card {
    width: 45%;
    margin-top: 5%;
  }
  .card-info {
    width: 45%;
  }
  .hidden-content {
    font-size: 0.5em;
    margin-top: 10%;
  }
  footer {
    margin-top: 5%;
  }
  .logo-footer {
    width: 50%;
  }
  .copyright {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .player-col {
    width: 30%;
    margin: auto;
  }
  .info-col {
    width: 40%;
    margin: auto;
  }
  .char-container {
    margin-top: 25%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .col-img {
    display: none;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 10%;
  }
  .card {
    width: 40%;
  }
  .card-info {
    width: 40%;
  }
  .player-name {
    letter-spacing: 0;
  }
  .hidden-content {
    margin-top: 15%;
  }
  footer {
    margin-top: 5%;
  }
  .logo-footer {
    width: 40%;
  }
  .copyright {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1320px) {
  .player-col {
    width: 30%;
    margin: auto;
  }
  .info-col {
    width: 40%;
    margin: auto;
  }
  .char-container {
    margin-top: 15%;
    margin-left: 5%;
  }
  .container {
    width: 100%;
    margin-left: 0;
  }
  .hidden-content {
    margin-top: 10%;
  }
  .col-img {
    display: none;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
@media screen and (min-width: 1320px) and (max-width: 1500) {
  .col {
    width: 100%;
  }
  .col-img {
    display: none;
  }
  .hidden-img {
    display: block;
    width: 90%;
    margin: 5%;
  }
  .img-hidden {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
