/* MENU-------------------------------------------------------------------------------------------*/
* {
  box-sizing: border-box;
}
.navbar {
  background-color: #234b52;
  z-index: 1;
  position: absolute;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.navbar-links {
  height: 100%;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li {
  list-style: none;
}
.navbar-links li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1em;
  padding: 0;
  margin: 1em;
  font-weight: 300;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
.navbar-links li a:hover {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.2s;
  transition-timing-function: ease-in-out;
}
