/* MENU-------------------------------------------------------------------------------------------*/
ul {
  top: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin-left: 2%;
  font-family: "Nunito", sans-serif;
  float: left;
  padding: 1.5vw;
  text-transform: uppercase;
}
ul.menubar > li:last-of-type {
  float: right;
  text-transform: uppercase;
}
.menubar {
  position: absolute;
  width: 100%;
  box-shadow: 0 1vw 5vw 0 #00000033;
  background: #234b52;
  color: #ffffff;
  padding: 0;
}
.menubar a {
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
  padding-left: 0px;
}
.menubar a:hover {
  text-decoration: underline;
}
