/*e3dfd2 body bckg f4f7f6
#f4f7f6 background color card
234B52 blue
a94442 orange
f0f0f0 grey
*/
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f7f6;
  color: #000000;
  line-height: 1.5;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
p {
  font-size: 1em;
  line-height: 20pt;
}
h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
}
h3 {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.blue-btn {
  background-color: #234b52;
  color: #ffffff;
  border: 1px solid #234b52;
  font-size: 1em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out 0s;
}
.blue-btn:hover {
  background-color: transparent;
  color: #234b52;
}
.blue-btn:focus {
  outline: none;
}
.red-btn {
  background-color: #a94442;
  color: #ffffff;
  border: 1px solid #a94442;
  font-size: 1em;
  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out 0s;
}
.red-btn:hover {
  background-color: transparent;
  color: #a94442;
}
.red-btn:focus {
  outline: none;
}
.important-btn {
  background-color: teal;
  color: #ffffff;
  border: 1px solid teal;
  font-size: 1em;
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out 0s;
}
.important-btn:hover {
  background-color: transparent;
  color: #ffffff;
}
.important-btn:focus {
  outline: none;
}

/* HEADER-------------------------------------------------------------------------------------------*/
header {
  width: 100%;
}
.horizontal_logo {
  margin-top: 5%;
  width: 50%;
}
.background {
  width: 100%;
  height: 75vh;
  background-image: url(../images/offback.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
}
.logo-header {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 7%;
  margin-left: 2em;
}
/*CHARACTER PAGE-------------------------------------------------------------------------------------------*/
.wrapper {
  background-color: #f4f7f6;
  padding-top: 2.5em;
  margin: 0;
  width: 100%;
}
.CTA {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5em;
  margin-top: 0;
  color: #ffffff;
}
.container {
  z-index: 1;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  background-color: transparent;
  margin-bottom: 1.5em;
}
.char-heading {
  width: 90%;
  margin-bottom: 5%;
  text-transform: uppercase;
}
.guideBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.card-info {
  position: relative;
  width: 30%;
  margin-bottom: 10%;
  background-color: #f4f7f6;
  border: 1px solid #234b52;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.num {
  border-radius: 50%;
  text-align: center;
  background-color: #234b52;
  color: #f4f7f6;
  width: 15%;
  margin-top: -10%;
  margin-left: 42%;
  margin-right: 42%;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}
.char-container {
  text-align: center;
  width: 90%;
  margin: 5%;
}
.char-row {
  width: 90%;
  margin: 5%;
  margin-top: 0;
  margin-bottom: 0;
}
.char-row:after {
  content: "";
  display: table;
  clear: both;
}
.char-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  position: relative;
  width: 30%;
  margin-bottom: 10%;
  background-color: #f4f7f6;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.colored-box {
  width: 100%;
  background-color: #234b52;
  margin: 0;
}
.card-img {
  width: 60%;
  margin-top: -30%;
  background-color: #f4f7f6;
  border-radius: 50%;
  padding: 1em;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.card-img-chosen {
  cursor: default;
  width: 60%;
  margin-top: 5%;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}
.card-box {
  width: 90%;
  margin: 5%;
}
.title-box {
  height: 10%;
  width: 100%;
  text-align: center;
}
.card:hover .title-box {
  opacity: 1;
}
.title {
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}
.alias {
  margin-top: 0;
}
.description {
  color: #666464;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.players-box {
  cursor: default;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000000a1;
  display: none;
}

.hidden-content {
  background-color: #f4f7f6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  color: #000000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 70%;
  padding: 1.5em 2em 1.5em 2em;
  text-align: center;
  text-transform: uppercase;
}
.player-col {
  float: left;
  width: 30%;
  margin: auto;
}
.info-col {
  float: left;
  width: 40%;
  margin: auto;
}
.playerTitle {
  margin: 0;
  letter-spacing: 0.1em;
}
.headline2 {
  font-weight: 100;
  color: #234b52;
  margin-top: 30%;
}
.player-img {
  width: 100%;
}
.player-name {
  font-family: Arial, Helvetica, sans-serif;
  color: #a94442;
  margin: 0;
  text-align: center;
}
.loader {
  margin: 0 auto;
  border: 5px solid #234b52;
  border-top: 5px solid #d8d7d7;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.newText {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #234b52;
  text-transform: uppercase;
  cursor: default;
}
